<!DOCTYPE html>
<html>
  <head>
    <title>BugReport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="custom_assets/svgs/bug.svg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        width: 100vw;
        height: 100vh;
      }
    </style>  
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="custom_assets/svgs/bug.svg" alt="" height="24" class="d-inline-block align-text-top">
          Reporte de Bugs
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Últimas atualizações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Todos os bugs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reportar bug</a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>


  </body>
</html>
